body{
    background-color:rgb(252, 240, 255);
    font-family: cursive;
    font-size: 30px;
}
.name_of_objects{
    font-family: fantasy;
    font-size: 25px;
}
#p1{
    font-family: fantasy;
}
#p2{
    font-family: fantasy;
}
button{
    width: 150px;
    height: 50px;
    font-size: 30px;
}
#captured_image {
    width: 400px;
    height: 300px;
}